{% extends 'partials/base.html' %}

{% block main %}
<div class="menu">
    <h1>Vos étudiants</h1>
    <div class="liste">
        <table>
            <tr class="top">
                <td>Nom</td>
                <td>Prenom</td>
                <td>Numéro d'étudiant</td>
            </tr>
            {% for etudiant in lEtudiants %}            <!-- Affiche chaque étudiant avec nom,prenom,numero -->
            <tr>
                <td>{{etudiant.nomEtu}}</td>
                <td>{{etudiant.prenomEtu}}</td>
                <td>{{etudiant.numeroEtu}}</td>
                <td>
                    <a href="{{ url_for('retirerEtu', id=etudiant.numeroEtu)}}">         <!-- Bouton supprimer -->
                        <input style="margin-top: 4px; margin-bottom:-3px;" class="delete" type="image" src="/static/image/delete.png">
                    </a>
                </td> 
            </tr>
            {% endfor %}
        </table>
    </div>
    <br/>
    <div class="double newEtudiant">
        <div style="margin-right: 1em;">                <!-- Ajout d'un étudiant via un csv -->
            <h1>Ajout d'étudiants<br/> via CSV</h1>
            <form action="/listeEtudiants" method="POST" enctype="multipart/form-data">  
                <p>Seuls les fichiers d'extension .csv sont acceptés!</p>
                <br/>
                <p><input type="file" id="fichierEtu" name="fichierEtu" accept=".csv" ></p>
                <p><input class="button" type="submit" value="Ajouter" /></p>

            </form>
        </div>
        <div class="liVer"></div>
        <div style="margin-left: 1em;">                 <!-- Ajout d'un étudiant manuellement -->
            <h1>Ajout d'étudiants<br/> manuellement</h1>
            <form action="/listeEtudiants" method="POST">
                <p> Nom : <input type="text" name="nomEtu" id="nomEtu"/></p>
                <p> Prenom : <input type="text" name="prenomEtu" id="prenomEtu"/></p>
                <p> Numéro d'étudiant : <input type="number" name="numeroEtu" id="numeroEtu"/></p>
                <p><input class="button" type="submit" value="Ajouter" /></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}