{% extends 'partials/base.html' %}

{% block main %}
<div class="mid double">
    <div class="menuLQcm">   <!-- Partie liste de QCM -->
        <h1>Liste des QCM</h1>
        <div class="listeQCM">
            <table>
                <tr class="top">
                    <td>QCM</td>
                </tr>
                {% for QCM in listeQCM %} <!-- Affichage de tous les QCM -->
                    <tr>
                        <td class="left" id="{{QCM.idQCM}}"> <a href="{{ url_for('afficheQCM', id=QCM.idQCM)}}">{{QCM.Nom}}</a> </td> 
                        <td style="border:none;width:2em">
                            <a href="{{url_for('modifierQCM', id=QCM.idQCM)}}">
                                <input style="margin-top: 4px; margin-bottom:-3px;" class="imgTab" type="image" src="/static/image/edit.png">
                            </a>
                            <a href="{{url_for('supprimerQCM', id=QCM.idQCM)}}">
                                <input style="margin-top: 4px; margin-bottom:-3px;" class="imgTab" type="image" src="/static/image/delete.png">
                            </a>
                        </td> 
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="menuNQcm">   <!-- Partie nouveau QCM -->
        <form action="/listeQCM" method="POST">  <!-- Ce formulaire permet d'afficher la liste des question -->
            <h1>Nouveau QCM</h1>
            <p>Donnez un titre à votre QCM : <input type="text" name="nomQcm" placeholder="Titre" /></p>
            <div class="liste">
                <table>
                    <tr class="top">
                        <td>Questions</td>
                    </tr>
                    {%for element in ListesQuestions%}
                        <tr>
                            <td class="left" id="{{element.idQ}}">{{element.enonce}}</td>
                            <script>                                                /* converti chaque énoncé */
                                $('#{{element.idQ}}').html(converter.makeHtml($('#{{element.idQ}}').text()));
                            </script>
                            <td style="border:none;width:10px"><input type="checkbox" name="{{element.idQ}}"></td>
                        </tr>
                    {%endfor%}
                </table>
            </div>
            <p><input class="button" type="submit" value="Confirmer" /></p>
        </form>
        <form action="/createRandom" method="POST">
            <input type="number" name="num_qcm" min="1" placeholder="Nombre de QCMs" required>
            <input type="text" name="nom_qcm" placeholder="Nom des QCMs" required><br><br>
            {% for etiquette in etiquettes %}
            <label>{{ etiquette.nom }}</label>
            <input type="hidden" name="etiquette_id[]" value="{{ etiquette.idE }}">
            <input type="number" name="nb_question[{{ etiquette.idE }}]" min="1" max="{{ etiquette.questions }}" placeholder="Nombre de questions pour {{ etiquette.nom }}" required><br>
            {% endfor %}
            <input class="button" type="submit" value="Confirmer">
        </form>        
    </div>
</div>
{% endblock %}
