{% extends 'partials/base.html' %}

{% block main %}
<div class="mid double">
    <div class="menuLQcm">   <!-- Partie liste de QCM -->
        <h1>Liste des Questionnaires</h1>
        {% include 'partials/flash.html' %}
        <div class="listeQCM">
            <table>
                <tr class="top">
                    <td>QCM</td>
                </tr>
                {% for QCM in listeQCM %} <!-- Affichage de tous les QCM -->
                    <tr>
                        <td class="left" id="{{QCM.idQCM}}"> <a href="{{ url_for('afficheQCM', id=QCM.idQCM)}}">{{QCM.Nom}}</a> </td> 
                        <td style="border:none;width:2em">
                            <a href="{{url_for('modifierQCM', id=QCM.idQCM)}}">
                                <input style="margin-top: 4px; margin-bottom:-3px;" class="imgTab" type="image" src="/static/image/edit.png">
                            </a>
                            <a href="{{url_for('supprimerQCM', id=QCM.idQCM)}}">
                                <input style="margin-top: 4px; margin-bottom:-3px;" class="imgTab" type="image" src="/static/image/delete.png">
                            </a>
                        </td> 
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="menuNQcm">   <!-- Partie nouveau QCM -->
        <form action="/listeQCM" method="POST">  <!-- Ce formulaire permet d'afficher la liste des question -->
            <h1>Nouveau Questionnaire</h1>
            <p>Donnez un nom à votre questionnaire : <input style="width:149.3px" type="text" name="nomQcm" placeholder="Nom" /></p>
            <div class="liste">
                <table>
                    <tr class="top">
                        <td>Questions</td>
                    </tr>
                    {%for element in ListesQuestions%}
                        <tr>
                            <td class="left" id="{{element.idQ}}">{{element.enonce}}</td>
                            <script>                                                /* converti chaque énoncé */
                                $('#{{element.idQ}}').html(converter.makeHtml($('#{{element.idQ}}').text()));
                            </script>
                            <td style="border:none;width:10px"><input type="checkbox" name="{{element.idQ}}"></td>
                        </tr>
                    {%endfor%}
                </table>
            </div>
            <p><input class="button" type="submit" value="Confirmer" /></p>
        </form>
        <form action="/createRandom" method="POST">
            <h1>Nouveau Controle</h1>
            <p>Nombre de contrôles souhaités : <input style="width:49.3px" type="number" name="num_qcm" min="1" placeholder="0" required></p>
            <p>Nom des contrôles : <input style="width:149.3px" type="text" name="nom_qcm" placeholder="Nom" required></p>
            <fieldset><legend>Choisir étiquettes</legend>
                <ul style="list-style-type: none;">
                    {% for etiquette in etiquettes %}
                    <li style="float: left;width: 25%;"><label>{{ etiquette.nom }}</label>
                        <input type="hidden" name="etiquette_id[]" value="{{ etiquette.idE }}">
                        <input style="width:49.3px" type="number" name="nb_question[{{ etiquette.idE }}]" value="0" min="0" max="{{ etiquette.questions }}" required></li>  
                    {% endfor %}
                </ul>
            </fieldset>
            <p><input class="button" type="submit" value="Confirmer"></p>
        </form>        
    </div>
</div>
{% endblock %}
