{% extends 'partials/base.html' %}

{% block main %}
<div class="menu">
    <h1>Liste des questions</h1>
    <div class="listeQuestions">
        <table>
            <tr class="top">
                <td>Question</td>
            </tr>
            {% for questions in lquestion %}
            <tr>
                <td class="left" id="{{questions.idQ}}">{{questions.enonce}}</td>
                <script>              /* Convertisseur */
                    $('#{{questions.idQ}}').html(converter.makeHtml($('#{{questions.idQ}}').text()));
                    hljs.highlightAll();
                </script>
                <td style="border:none;width:2em">
                    <a href="{{ url_for('modifier', id=questions.idQ)}}">
                        <input style="margin-top: 4px; margin-bottom:-3px;" class="imgTab" type="image" src="/static/image/edit.png"></a>
                    <a href="{{ url_for('supprimer', id=questions.idQ)}}">
                        <input style="margin-top: 4px; margin-bottom:-3px;" class="imgTab" type="image" src="/static/image/delete.png"></a>
                </td> 
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="affichageEtiquette">
        <form action="/filtre" method="POST">
            <fieldset><legend>Filtrer avec des étiquettes</legend>
                <ul>
                    {% for etiquette in etiquettes %}       <!-- Pour chaque etiquette parmi les etiquettes -->
                        <li><input type="checkbox" name="tag" value="{{ etiquette.idE }}"> {{ etiquette.nom }}</li>
                    {% endfor %}
                </ul>
            </fieldset>
            <p><input class="button" type="submit" value="Filtrer"></p>
        </form>
    </div>
</div>
{% endblock %}