{% extends 'partials/base.html' %}

{% block main %}
<div class="menu">
    <h1>Utilisateurs</h1>
    <div class="liste">
        <table>
            <tr class="top">
                <td>Nom d'utilisateur</td>
            </tr>
            {% for utilisateurs in lUtilisateurs %}             <!-- Affiche chaque utilisateur -->
                <tr>                                            <!-- Rappel : cette page est uniquement accessible si -->
                    <td>{{utilisateurs.nomU}}</td>              <!-- l'utilisateur est 'ADMIN' -->
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}