{% extends 'partials/base.html' %} {% block main %}
<div class="mid double">
    <div class="code">
        <!-- Partie écriture -->
        <form action="/ajout" method="POST">
            <h1>Ecrivez une question</h1>
            <p>Énoncé : <br/>
                <!-- Zone de texte pour la question, methode onkeyup -->
                <textarea id="question" name="question" rows="4" cols="40" onkeyup="visualiser()" required></textarea>
            </p>
            <hr/>
            <div class="nouveauBouton">
                <script>
                    /* Fonction JS pour envoyer une requête GET à /plusDeReponse */
                    window.addEventListener('load', () => {
                        document.querySelector('#demandereponse').disabled = true;
                        document.querySelector('#demandereponse').hidden = true;
                        document.querySelector('#Rep_num').disabled = true;
                        document.querySelector('#Rep_num').hidden = true;
                    });
                </script>
                <div class="affichageEtiquette">
                    <fieldset>
                        <legend>Étiquettes</legend>
                        <ul>
                            {% for etiquette in etiquettes %} <!-- Pour chaque etiquette parmi les etiquettes -->
                                <li><input type="checkbox" name="tag" value="{{ etiquette.idE }}"> {{ etiquette.nom }}</li>
                            {% endfor %}
                        </ul>
                    </fieldset>
                </div>
                <hr/>
            </div>
            <!-- Appel de la fonction demandePlusReponse avec la methode onclick -->
            <p><button type="button" id="Quest_Num" onclick="Question_Numerique()">Passer en question numérique</button></p>
            <p><button type="button" id="Quest_QCM" onclick="Question_QCM()">Passer en question à choix multiple</button></p>
            <p><button type="button" id="demandereponse" onclick="demandePlusReponse()">Ajouter une réponse</button></p>
            <p id="rep_num">
                <p><input type="text" pattern="\d*([.]\d{0,2})?" id="Rep_num" name="Rep_num" onkeyup="visualiser()"></p>
            </p>
            <p><input class="button" type="submit" value="Ajouter la question" /></p>
        </form>
    </div>
    <div class="visu">
        <!-- Partie visualisation -->
        <h1 class="middle">Visualisation</h1>
        <div class="visuel"></div>
    </div>
</div>
{% endblock %}