{% extends 'partials/base.html' %}

{% block main %}
<div class="double menu">
    <form class="double" action="{{ url_for('modifier', id=idQ)}}" method="POST">
        <div>
            <h1>Modifier votre énoncé</h1> <!-- affichage de l'énoncé à modifier-->
            <p><textarea name="question" rows="4" cols="40">{{enonce}}</textarea></p>
            <h1>Modifier vos étiquettes</h1>
            <div class="affichageEtiquette">
                <fieldset>
                    <legend>Étiquettes</legend>
                    <ul>
                        {% for etiquette in etiquettes %} <!-- Pour chaque etiquette parmi les etiquettes -->
                            <li><input type="checkbox" name="tag" value="{{ etiquette.idE }}"> {{ etiquette.nom }}</li>
                        {% endfor %}
                    </ul>
                </fieldset>
            </div>
        </div>
        <div class="liVer"></div>
        <div>
            <h1>Modifier vos réponses</h1>
            {% for reponse in reponses %}   <!-- Pour chaque réponse parmis les réponses -->
                {% if reponse.estNumerique %}  <!-- Si la réponse est numérique -->
                    <p id="rep_num"><input type="text" id="Rep_num" name="R{{reponse.idR}}" pattern="\d*([.]\d{0,2})?" value="{{reponse.reponse}}"></p>
                {% else %}
                    <p><textarea name="R{{reponse.idR}}" rows="4" cols="40">{{reponse.reponse}}</textarea></p>
                {% endif %}
            {% endfor %}
            <p><input class="button" type="submit" value="Modifier" /></p>
        </div>
    </form>
</div>
{% endblock %}