<nav>
    <ul class="nav-list">
        <li {% if page=="Menu" %} class="active" {% endif %}><a href="/">Accueil</a></li>
        {% if session['nomU'] %}<li {% if page=="Créer" %} class="active" {% endif %}><a href="/creerQuestion">Créer Question</a></li>{% endif %}
        {% if session['nomU'] %}<li {% if page=="Etiquettes" %} class="active" {% endif %}><a href="/creationEtiquettes">Gérer Étiquette</a></li>{% endif %}
        {% if session['nomU'] %}<li {% if page=="Consulter" %} class="active" {% endif %}><a href="/lquestion">Consulter Questions</a></li>{% endif %}
        {% if session['nomU'] %}<li {% if page=="CréerQcm" %} class="active" {% endif %}><a href="/QCM">Créer QCM</a></li>{% endif %}
        {% if session['nomU']=='ADMIN' %}<li {% if page=="listeUtilisateurs" %} class="active" {% endif %}><a href="/listeUtilisateurs">Consulter Utilisateurs</a></li>{% endif %}
    </ul>
</nav>

<!--
    Description de la barre de navigation :
        Premier if : vérifie que l'utilisateur est connecté pour s'afficher (Par défaut on peut quand même acceder à l'accueil)
        Deuxieme if : vérifie si on est sur la page actuelle, si c'est le cas, colore l'onglet en rouge

        Pour l'onglet /listeUtilisateurs il faut que l'utilisateur soit 'ADMIN'
-->