<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="/static/image/icone.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style.css" rel="stylesheet"> 
    <script src="static/scripts.js"></script>
    {% include 'partials/biblio.html'%}
    {% block head %}
    {% endblock %}
    <title>{{title}}</title>
</head>

<body>
    {% include 'partials/nav.html' %}
    {% block main %}
    {% endblock %}
    <footer>
        <p>&copy; 2023 | THEO REYNIER | ANTHONY HOMMAIS | CORENTIN FAY | SONIA KECHAOU</p>
    </footer>    
</body>
</html>