<nav>
    <ul class="nav-list">
        <li class="navBouton {% if page=='Menu' %} active {% endif %}"><a href="/">Accueil</a></li>
        {% if session['nomU'] and session['role']=='enseignant' %}<li class="navBouton {% if page=='Créer' %} active {% endif %}"><a href="/creerQuestion">Créer Question</a></li>{% endif %}
        {% if session['nomU'] and session['role']=='enseignant' %}<li class="navBouton {% if page=='Etiquettes' %} active {% endif %}"><a href="/creationEtiquettes">Gérer Étiquette</a></li>{% endif %}        {% if session['nomU'] and session['role']=='enseignant' %}<li class="navBouton" {% if page=="Consulter" %} class="navBouton active" {% endif %}><a href="/lQuestion">Consulter Questions</a></li>{% endif %}
        {% if session['nomU'] and session['role']=='enseignant' %}<li class="navBouton {% if page=='CréerQcm' %} active {% endif %}"><a href="/QCM">Créer QCM</a></li>{% endif %}
        {% if session['nomU'] and session['role']=='enseignant' %}<li class="navBouton {% if page=='ModifierQCM' %} active {% endif %}"><a href="/ModifierQCM">Modifier QCM</a></li>{% endif %}
        {% if session['nomU'] and session['role']=='enseignant' %}<li class="navBouton {% if page=='listeQCM' %} active {% endif %}"><a href="/listeQCM">Consulter QCM</a></li>{% endif %}
        {% if session['nomU'] and session['role']=='enseignant' %}<li class="navBouton {% if page=='EnvoyerQCM' %} active {% endif %}"><a href="/EnvoyerQCM">Envoyer des enoncées</a></li>{% endif %}
        {% if session['nomU'] and session['role']=='enseignant' %}<li class="navBouton {% if page=='listeEtudiants' %} active {% endif %}"><a href="/listeEtudiants">Consulter Etudiants</a></li>{% endif %}
        {% if session['nomU']=='ADMIN'and session['role']=='enseignant' %}<li class="navBouton {% if page=='listeUtilisateurs' %} active {% endif %}"><a href="/listeUtilisateurs">Consulter Utilisateurs</a></li>{% endif %}
        {% if session['nomU'] and session['role']=='etudiant' %}<li class="navBouton {% if page=='RepondreQCM' %} active {% endif %}"><a href="/RepondreQCM">Repondre au Question</a></li>{% endif %}
        {% if session['nomU'] %}<li class="deco"><a href="/deconnexion">Deconnexion</a></li>{% endif %}
    </ul>
</nav>

<!--
    Description de la barre de navigation :
        Premier if : vérifie que l'utilisateur est connecté pour s'afficher (Par défaut on peut quand même acceder à l'accueil)
        Deuxieme if : vérifie si on est sur la page actuelle, si c'est le cas, colore l'onglet en rouge

        Pour l'onglet /listeUtilisateurs il faut que l'utilisateur soit 'ADMIN'
-->