<nav>
    <ul class="nav-list">
        <li class="navBouton" {% if page=="Menu" %} class="active" {% endif %}><a href="/">Accueil</a></li>
        {% if session['nomU'] and session['role']=='enseignant' %}<li class="navBouton" {% if page=="Créer" %} class="active" {% endif %}><a href="/creerQuestion">Créer Question</a></li>{% endif %}
        {% if session['nomU'] and session['role']=='enseignant' %}<li class="navBouton" {% if page=="Etiquettes" %} class="active" {% endif %}><a href="/creationEtiquettes">Gérer Étiquette</a></li>{% endif %}
        {% if session['nomU'] and session['role']=='enseignant' %}<li class="navBouton" {% if page=="Consulter" %} class="active" {% endif %}><a href="/lQuestion">Consulter Questions</a></li>{% endif %}
        {% if session['nomU'] and session['role']=='enseignant' %}<li class="navBouton" {% if page=="ListeQCM" %} class="active" {% endif %}><a href="/listeQCM">Consulter QCM</a></li>{% endif %}
        {% if session['nomU'] and session['role']=='enseignant' %}<li class="navBouton" {% if page=="EnvoyerEnonce" %} class="active" {% endif %}><a href="/EnvoyerEnonce">Envoyer des enoncées</a></li>{% endif %}
        {% if session['nomU'] and session['role']=='enseignant' %}<li class="navBouton" {% if page=="listeEtudiants" %} class="active" {% endif %}><a href="/listeEtudiants">Consulter Etudiants</a></li>{% endif %}
        {% if session['nomU']=='ADMIN'and session['role']=='enseignant' %}<li class="navBouton" {% if page=="listeUtilisateurs" %} class="active" {% endif %}><a href="/listeUtilisateurs">Consulter Utilisateurs</a></li>{% endif %}
        {% if session['nomU'] and session['role']=='etudiant' %}<li class="navBouton" {% if page=="RepondreQCM" %} class="active" {% endif %}><a href="/RepondreQCM">Repondre au Question</a></li>{% endif %}
        {% if session['nomU'] %}<li class="deco"><a href="/deconnexion">Deconnexion</a></li>{% endif %}
    </ul>
</nav>

<!--
    Description de la barre de navigation :
        Premier if : vérifie que l'utilisateur est connecté pour s'afficher (Par défaut on peut quand même acceder à l'accueil)
        Deuxieme if : vérifie si on est sur la page actuelle, si c'est le cas, colore l'onglet en rouge

        Pour l'onglet /listeUtilisateurs il faut que l'utilisateur soit 'ADMIN'
-->