<p><input type="checkbox" id="{{IdCheck}}" class="newReponse" name="{{IdCheck}}" />
    <label for="{{IdCheck}}" aria-describedby="label">
<span class="Checked"></span></label>
    <textarea id="{{ IdBouton }}" name="reponse" rows="2" cols="30" onkeyup="visualiser()" placeholder="Réponse"></textarea></p>
<input class="delete" type="image" src="/static/delete.png" onclick="supprimerBouton({{ IdBouton }})" onclick="supprimerBouton({{ IdCheck }})" id="{{ IdBouton }}">

<!-- 
    HTML qui s'affiche chaque fois qu'on ajoute une réponse
    Un bouton, une zone de texte et un bouton pour supprimer cette réponse
-->