{% extends 'partials/base.html' %}

{% block main %}
<div class="menu menuAcc">
    <h1>Connexion</h1>
    <hr/>
    {% include 'partials/flash.html' %}
    <form action="/connexionEnseignant" method="POST">                           <!-- Connexion d'un utilisateur -->
        <p> Nom d'utilisateur : </p><input type="text" name="nomU" id="nomU"/>   <!-- Nom correspondant -->
        <p> Mot de passe : </p><input type="password" name="passU" id="passU"/>  <!-- Mot de passe correspondant-->
        <p><input class="button" type="submit" value="Connexion" /></p>
    </form>
</div>
{% endblock %}