{% extends 'partials/base.html' %} {% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script>
    var q = 0;
    const socket = io();
    socket.on('connect', function(data) {
        socket.emit('testEQ', "Je suis dans envoyer question");
        listeQuestions = '{{listeQuestions}}'.replaceAll('Question ', '').replaceAll('&#39;', '').replaceAll('[', '').replaceAll(']', '').replaceAll('&#39;,)', '').replaceAll(' ', '').split(',')
        listeReponses = '{{listeReponses}}'.replaceAll('Reponse', '').replaceAll('(', '').replaceAll(',)', '').replaceAll(' ', '').replaceAll('[', '').replaceAll('],', ';').replaceAll(']]', '').split(';')
        console.log(listeReponses)
        socket.emit('oneByOne', q, listeQuestions, listeReponses);
    });

    socket.on('emitOneByOne', function(questionCastee, reponsesAssociees) {
        $("#question").text(questionCastee);
        for (reponse of reponsesAssociees) {
            $("reponse").append(reponse)
        }
        console.log(questionCastee, reponsesAssociees)
        socket.emit('recupDataForRep', questionCastee, reponsesAssociees)
    })

    function nextQuestion() {
        q++;
        /*let divQuestion = document.getElementById('hideDivQ');
        console.log(divQuestion);
        document.divQuestion.innerHTML = document.divQuestion.innerHTML.replace(/0/g,"1")
        */
        socket.emit('oneByOne', q, listeQuestions, listeReponses);
    }
</script>
{% endblock %} {% block main %}
<div class="menu">
    <h3>Code : {{idElement}}</h3>
    <button onclick="nextQuestion()">Question suivante</button>
    <hr/>
    <div>
        <button id="Q" onclick="hideAndShow(this.id)"> Cacher/Afficher </button>
        <div id="hideDivQ">
            <div class="affQuestion" id="question"></div>
            <script>
                /* Conversion de l'énoncé avec showdown */
                $('#question').html(converter.makeHtml($('#question.idQ').text()));
            </script>
        </div>
    </div>

    <div>
        <button id="R" onclick="hideAndShow(this.id)"> Cacher/Afficher </button>
        <div id="hideDivR">
            <div id="reponses"></div>
        </div>
    </div>
</div>
</div>
{% endblock %}