{% extends 'partials/base.html' %} {% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script>
    //q est le rang de la question à afficher à un moment M
    var q = 0;
    const socket = io();
    var progressBlock = 0;
    socket.on('connect', function(data) {
        //formatage des IDsreçus du serveur
        listeQuestions = '{{listeQuestions}}'.replaceAll('Question ', '').replaceAll('&#39;', '').replaceAll('[', '').replaceAll(']', '').replaceAll('&#39;,)', '').replaceAll(' ', '').split(',')
        listeReponses = '{{listeReponses}}'.replaceAll('Reponse', '').replaceAll('(', '').replaceAll(',)', '').replaceAll(' ', '').replaceAll('[', '').replaceAll('],', ';').replaceAll(']]', '').split(';')
            //envoi au serveur des IDs formaté et du rang
        socket.emit('oneByOne', q, listeQuestions, listeReponses);
    });



    function nextQuestion() {
        if (q < listeQuestions.length - 1) { //interdit d'incrémenter q s'il n'y a plus de questions
            q++;
            progressBlock = 0;
            socket.emit('oneByOne', q, listeQuestions, listeReponses);
            document.getElementById("reponse").innerHTML = "";
        }
    }
    socket.on('retourReponseEtudiant', function(reponse_choix, ReponseChoixJS) {
        if (progressBlock == 0) {
            progressBlock = 1;
        } else {
            ReponseChoixJS.forEach((r) => {
                document.getElementById(r).setAttribute("max", document.getElementById(r).max + 1)
            })
        }
        reponse_choix.forEach((r) => {
            document.getElementById(r).setAttribute("value", document.getElementById(r).value + 1)
        })

    })
</script>
{% endblock %} {% block main %}
<div class="menu">

    <h3>Code : <span id='code'>{{idElement}}</span></h3>
    <button id="nextQuestion" onclick="nextQuestion()">Question suivante</button>
    <script>
        //cacher le bouton nextQuestion s'il n'y en a qu'une
        if ('{{typeElement}}' == 'question') {
            document.querySelector('#nextQuestion').hidden = true;
        }
    </script>
    <hr/>
    <span id="idRep" hidden="true">{{idRep}}</span>
    <div>
        <button id="Q" onclick="hideAndShow(this.id)"> Cacher/Afficher </button>
        <div id="hideDivQ">
            <div class="affQuestion" id="question"></div>

            <script>
                $('#question').html(converter.makeHtml($('#question').text()));
            </script>
        </div>
    </div>


    <div>
        <button id="R" onclick="hideAndShow(this.id)"> Cacher/Afficher </button>
        <div id="hideDivR">
            <div id="reponse"></div>
            <script>
                $('#reponse').html(converter.makeHtml($('#reponse').text()));
            </script>
        </div>
    </div>
</div>

<script>
    //réception de la question et des réponses numéro q
    socket.on('emitOneByOne', function(questionCastee, reponsesAssociees) {
        questionCastee = questionCastee.replaceAll("[(", "").replaceAll(",)]", "").replaceAll('"', "").replaceAll("'", "").replaceAll("\\r\\n", "<br/>")
        $("#question").html(questionCastee) //affichage de la question
        for (reponse of reponsesAssociees) { //affichage des réponses
            reponse = reponse.replaceAll("[('", "").replaceAll("',)]", "")
            if (reponse == "[]") {
                $("#reponse").append('<input type="number"><br/>') //réponse numérique

            } else {
                $("#reponse").append(reponse + '<br/><progress value="0" max="0" id="' + reponse + '"></progress> <br/></div>')
            }
        }
        var codeQcm = document.getElementById('code').textContent;
        var idRep = document.getElementById('idRep').textContent;
        socket.emit('recupDataForRep', questionCastee, reponsesAssociees, codeQcm, q, idRep)
    })
</script>
{% endblock %}