{% extends 'partials/base.html' %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script>
    const socket = io();
    socket.on('connect', function(data) {
        //socket.emit('testEQ', "Je suis dans envoyer question");
        socket.emit('envoieDonnees','{{idElement}}','{{listeQuestions}}','{{listeReponses}}');
    });
    var q=0;
    function nextQuestion(){
        console.log("aaaaaaa")
        socket.emit('setQuestion',q);
        q++;
    }
</script>
{% endblock %}

{% block main %}
<div class="menu">
    <h3>Code : {{idElement}}</h3>
    <hr/>
    {% for question in listeQuestions%}
    <div class="affQuestion" id="{{question.idQ}}">{{question.enonce}}</div>
    <script>                                            /* Conversion de l'énoncé avec showdown */
        $('#{{question.idQ}}').html(converter.makeHtml($('#{{question.idQ}}').text()));
    </script>
    {% endfor %}
</div>
{% endblock %}