{% extends 'partials/base.html' %} {% block main %}


<div class="menu">

    <form action="/RepondreQCM" method="POST">
        <div class="Reponse_etudiant">
            {%for i in range(lena)%}
            <p class="Reponse_etudiant" id="{{ListeQuestionsQcm[i].idQ}}">{{ListeQuestionsQcm[i].enonce}}</p>
            <input type="hidden" value={{ListeQuestionsQcm[i].enonce}} name="question"> {%for key in ListeReponseQcm[i] %} {%if key.estNumerique%}
            <p><input type="text" pattern="\d*([.]\d{0,2})?" id="{{key.idR}}" name="reponse_num"></p>
            {%else%}
            <p><input type="checkbox" id="{{key.idR}}" name="reponse_choix" /> {{key.reponse}}</p>
            {%endif%} {%endfor%} {%endfor%}
        </div>
        <Button>Envoyer</Button>
</div>

</form>


{% endblock %}