{% extends 'partials/base.html' %} 

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script>
    var ReponseAssJS;
    var ReponseChoixJS = [];
    var qRep;
    var idRepRep;
    const socket = io(); // Variable socket

    socket.on('profDeco', (data) => {
        // Data egale au qcm en cours
    })
</script>
{% endblock %} 

{% block main %}
<span id='code' hidden=true>{{code}}</span>
<div class="menu">En attente de validation de l'enseignant </p>
    <form>
        <h1 id="enonce" name="enonce"></h1>
        <div id="reponses"></div>
    </form>
    <button id="soumettre" onclick="reponseE()" onclick="repondre()">Soumettre</button>

    <script>
        function repondre() {
            $("#soumettre").hide();
        }
        $("#soumettre").hide();
    </script>
</div>

<script>
    socket.on('connect', function() { // Détection quand on arrive sur la page
        console.log("Je suis dans repondre au question");
    });
    socket.on('afficheQuestion', (questionCastee, reponsesAssociees, codeQcm, q, idRep) => { // Reception de la question à afficher
        qRep = q
        idRepRep = idRep
        var code = document.getElementById('code').textContent;
        if (code == codeQcm) {
            $("#rien").hide();
            document.getElementById('reponses').innerHTML = "";
            $("#enonce").text(questionCastee); // Son énoncé
            if (reponsesAssociees == "[]") { // Si numérique 
                $("#reponses").append('<p><input type="text" pattern="\d*([.]\d{0,2})?" name="reponse_num"></p>'); // Ajoute un input avec la limitation 
                ReponseAssJS = reponsesAssociees;
            } else {
                ReponseChoixJS = [];
                reponsesAssociees.forEach((r) => { // Affiche toutes les reponses possibles avec leurs checkbox
                    ReponseChoixJS.push(r.replaceAll("[('", "").replaceAll("',)]", ""));
                    $("#reponses").append('<p><input type="checkbox" id="' + r + '.idR" name="reponse_choix" value="' + r + '.idR" /> ' + r.replaceAll("[('", "").replaceAll("',)]", "") + '</p>');
                    ReponseAssJS = reponsesAssociees;
                });
            }
            $("#soumettre").show();
        }
    });

    function reponseE() {
        var codePourRep = document.getElementById('code').textContent;
        const d = new Date();
        console.log("RA = ", ReponseAssJS)
        if (ReponseAssJS == "[]") {
            reponse_num = document.getElementsByName('reponse_num')[0].value;
            console.log(reponse_num)
            socket.emit('recupDataNum', reponse_num, codePourRep, d, qRep, idRepRep)
        } else {
            reponse_choix = [];
            console.log("RCJS = ", ReponseChoixJS);
            for (i = 0; i < ReponseChoixJS.length; i++) {
                if (document.getElementsByName("reponse_choix")[i].checked == true) {
                    reponse_choix.push(ReponseChoixJS[i]);
                }
            }
            console.log("reponse_choix = ", reponse_choix)
            socket.emit('reponseEtuChoixmultiple', reponse_choix, ReponseChoixJS, codePourRep, d, qRep, idRepRep)

        }
        reponse_div = document.getElementById('reponses').value;
        enonce = document.getElementById('enonce').value;
        console.log("reponse div = ", reponse_div)
        console.log("finish")
        $("#soumettre").hide();
        // socket.emit('reponseE', enonce, reponse_choix, reponse_num)
    };
</script>
{% endblock %}