{% extends 'partials/base.html' %} {% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script>
    const socket = io(); // Variable socket
    socket.on('connect', function() { // Détection quand on arrive sur la page
        socket.emit('testRQ', "Je suis dans repondre au question");
    });

    socket.on('afficheQuestion', (questionCastee, reponsesAssociees) => { // Reception de la question à afficher
        //document.getElementById(reponses).innerHTML = "";
        $("#enonce").text(questionCastee.replace(/&#39;/g, "").replace('(', '').replace(')', '').slice(0, -1)); // Son énoncé

        if (reponsesAssociees == "[]") { //si numérique 
            $("#reponses").append('<p><input type="text" pattern="\d*([.]\d{0,2})?" name="reponse_num"></p>'); //ajoute un input avec la limitation 
        } else {
            reponsesAssociees.forEach((r) => { //affiche toute les reponse possible avec leur checkbox
                $("#reponses").append('<p><input type="checkbox" id="' + r + '.idR" name="reponse_choix" value="' + r + '.idR" /> ' + r + '</p>');
            });
        }
    });

    function reponseE() {

        var reponse_choix = document.getElementsByClassName("reponse_choix");
        var reponse_num = document.getElementsByName("reponse_num");
        var enonce = document.getElementById("enonce");
        console.log(reponse_choix)
        console.log(reponse_num)
        console.log(enonce)
        socket.emit('reponseE', enonce, reponse_choix, reponse_num)
    };
</script>
{% endblock %} {% block main %}
<div class="menu">
    <form>
        <h1 id="enonce" name="enonce"></h1>

        <div id="reponses">

        </div>

    </form>
    <button onclick="reponseE()">Soumettre</button>




</div>


{% endblock %}