{% extends 'partials/base.html' %}
{% block main %}
<div class="menu menuAcc">
    <h1>Bienvenue<br/>sur<br/>Infomaker !</h1>
    {% with messages = get_flashed_messages() %}  <!-- Récupère les messages de flash() du serveur -->
        {% if messages %}
            <div class="flashes">
                {% for message in messages %}     <!-- Puis les affiches -->
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    {% if session['nomU'] %}                 <!-- Si un utilisateur est déjà connecté -->
        {% if session['role']=='etudiant' %}
            <p>Bonjour, {{session['nomU']}} {{session['preU']}}</p>
            <a name="modificationMDP" href="{{ url_for('modifMdp', id=idEtu)}}">Changer de mot de passe</a>
        {% elif session['role']=='enseignant' %}
            <p>Bonjour, {{session['nomU']}}</p>
            <a name="modificationMDP" href="{{url_for('modifMdp',id=idU)}}">Changer de mot de passe</a>
        {% endif %}
    <p><a class="button" name="deconnexion" href="/deconnexion">Deconnexion</a></p>
    {% else %}                               <!-- sinon -->
    <a class="button" name="espEnseignant" href="/espEnseignant">Espace Enseignant</a>
    <a class="button" name="espEtudiant" href="/espEtudiant">Espace Etudiant</a>
    {% endif %}
</div>
{% endblock %}