{% extends 'partials/base.html' %}
{% block main %}
<div class="menu menuAcc">
    <h1>Bienvenue<br/>sur<br/>Infomaker !</h1>
    {% include 'partials/flash.html' %}
    {% if session['nomU'] %}                 <!-- Si un utilisateur est déjà connecté -->
        {% if session['role']=='etudiant' %}
            <p>Bonjour, {{session['nomU']}} {{session['preU']}}</p>
            <a name="modificationMDP" href="{{ url_for('modifMdp', id=numeroEtu)}}">Changer de mot de passe</a>
        {% elif session['role']=='enseignant' %}
            <p>Bonjour, {{session['nomU']}}</p>
            <a name="modificationMDP" href="{{url_for('modifMdp',id=idU)}}">Changer de mot de passe</a>
        {% endif %}
    <p><a class="button" name="deconnexion" href="/deconnexion">Deconnexion</a></p>
    {% else %}                               <!-- sinon -->
    <a class="button" name="espEnseignant" href="/espEnseignant">Espace Enseignant</a>
    <a class="button" name="espEtudiant" href="/espEtudiant">Espace Etudiant</a>
    {% endif %}
</div>
{% endblock %}