{% extends 'partials/base.html' %}

{% block head %}
<script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>
<style>
    #container {
        top: 50%;
        left:50%;
        transform:translate(-50%,-50%);
        position:absolute;
        width: 40em;
        height: 40em;
        margin: 0;
        padding: 0;
    }
</style>
{% endblock %}

{% block main %}
<div id="container"></div>

<script src="static/nuage.js"></script>
{% endblock %}