body {
    background-color: white;
    background-image: url("image/fond.png");
    background-size: cover;
    width: 100vw;
    margin: 0;
}

table {
    background: lightgray;
    width: 40vw;
    text-align: center;
    border: 1px solid black;
    padding: 0.5em;
    /* font-size: 1.5em;
    margin-bottom: 1em; */
}

td {
    border: 1px solid black;
}

/* Classe pour colorer les titres des colonnes d'un tableau */
.top {
    background-color: darkgray;
}

h1 {
    padding: 0.5em;
}

/* Classe basique affichage du menu au centre */
.menu {
    border: 0.5em solid black;
    border-radius: 10px;
    padding: 2em;
    position: absolute;
    opacity: 0.9;
    top: 50%;
    left: 50%;
    font-size: 1em;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: whitesmoke;
}

/* Classe menu alternative compte */
.menuAcc{
    font-size: 1em;
}

/* Ligne verticale */
.liVer {
    background-color: black;
    width: 1px;
    margin: 1em;
}

/* Classe pour définir la taille d'une liste et la possibilité de scroll si dépassement */
.liste {
    height: 30vh;
    border: 2px solid black;
    overflow-y: scroll;
}

/* Classe soeur de liste mais pour les questions */
.listeQuestions{
    height: 40vh;
    border: 2px solid black;
    overflow-y: scroll;
}

/* Classe menu pour la liste de QCM */
.menuLQcm{
    border: 0.5em solid black;
    border-radius: 10px;
    padding: 2em;
    width: 25em;
    height:auto;
    background-color: whitesmoke;
    text-align: center;
    margin-right: 5em;
}

/* Classe menu pour un nouveau QCM */
.menuNQcm {
    border: 0.5em solid black;
    border-radius: 10px;
    padding: 2em;
    width: 45em;
    height:60vh;
    background-color: whitesmoke;
    text-align: center;
    margin-left: 5em;
}

/* Modification dans menuNQcm */
.menuNQcm .liste{
    font-size: 1em;
    height: 30vh;
}
.menuNQcm .liste table{
    width: 44em;
}

/* Modification dans listeQCM */
.listeQCM{
    height: 40vh;
    width: 25em;
    border: 2px solid black;
    overflow-y: scroll;
}
.listeQCM table{
    width: 23.5em;
    text-align: center;
}
.listeQCM table td{
    text-align: center;
}

/* Classe de la création d'étudiants */
.newEtudiant {
    border: 2px solid black;
    text-align: center;
    justify-content: center;
}

/* Centrage d'un élément sur l'écran */
.mid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.9;
}

/* Texte au milieu */
.middle {
    text-align: center;
}

/* Texte à gauche */
.left {
    text-align: left;
}

/* Disposition flex */
.double {
    display: flex;
}

/* Classe pour caster une question/QCM */
.caster{
    border: 0.5em solid black;
    border-radius: 10px;
    padding: 2em;
    width: 25vw;
    height: 60vh;
    background-color: whitesmoke;
    text-align: center;
    margin-right: 5em;
}

/* Classe liste dans caster */
.listeCaster{
    border: 1px solid black;
    width: 25vw;
    height: 45vh;
    overflow-y: scroll;
}
.listeCaster table{
    width: 24vw;
}

/* Classe pour créer les questions dans ajoutQuestion (gauche) */
.code {
    border: 0.5em solid black;
    border-radius: 10px;
    padding: 2em;
    width: 25em;
    height: 60vh;
    background-color: whitesmoke;
    text-align: center;
    margin-right: 5em;
    overflow-y: scroll;
}

/* Classe pour visualiser les questions dans ajoutQuestion (droite) */
.visu {
    border: 0.5em solid black;
    border-radius: 10px;
    padding: 2em;
    width: 25em;
    background-color: whitesmoke;
    text-align: left;
    margin-left: 5em;
}

/* Affichage réponses visuel ligne */
.repLi {
    display: flex;
}

/* Affichage réponses visuel colonne */
.repCo {
    display: flex;
    margin-right: 1em;
}

/* Classe pour modifier les <a> afin qu'ils ressemblent à des boutons */
.button {
    /* outline: none; */
    text-align: center;
    background-color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 0.5em;
    border: 1px solid black;
    transition: 0.25s;
}

/* Si on a déjà cliquer sur un bouton */
.button:visited {
    color: black;
}

/* Lorsqu'on passe le curseur dessus */
.button:hover {
    background-color: lightgray;
    transition: 0.25s;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    background-color: #333;
    color: white;
    text-align: center;
    font: menu;
}

/* Classe affichage de la barre de navigation */
.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font: menu;
}

/* alignement de la navigation à gauche */
.navBouton {
    float: left;
}

/* bouton supprimer aligner à droite */
.deco{
    float: right;
}

/* Customisation des liens */
.nav-list li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Lorsqu'on passe le curseur dessus */
.nav-list li a:hover {
    background-color: #111;
}

/* Colore en rouge, le bouton de la page actuelle */
.active {
    background-color: darkred;
}

/* taille de l'icone pour supprimer une réponse */
.imgTab {
    width: 1.5vw;
    height: 1.5vw;
}

/* CSS de checkbox réponse (voir références) */
[type="checkbox"].newReponse:not(:checked),
[type="checkbox"].newReponse:checked {
    position: absolute;
    left: -9999px;
}

[type="checkbox"].newReponse:not(:checked)+label,
[type="checkbox"].newReponse:checked+label {
    position: relative;
    padding-left: 75px;
    cursor: pointer;
}

[type="checkbox"].newReponse:not(:checked)+label::before,
[type="checkbox"].newReponse:checked+label::before,
[type="checkbox"].newReponse:not(:checked)+label::after,
[type="checkbox"].newReponse:checked+label::after {
    content: '';
    position: absolute;
}

[type="checkbox"].newReponse:not(:checked)+label::before,
[type="checkbox"].newReponse:checked+label::before {
    left: 0;
    top: -3px;
    width: 65px;
    height: 30px;
    background: #eb0000;
    border-radius: 15px;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -ms-transition: background-color .2s;
    transition: background-color .2s;
}

[type="checkbox"].newReponse:not(:checked)+label::after,
[type="checkbox"].newReponse:checked+label::after {
    width: 20px;
    height: 20px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
    border-radius: 50%;
    background: #7F8C9A;
    top: 2px;
    left: 5px;
}

/* on checked */
[type="checkbox"].newReponse:checked+label::before {
    background: #2fb41a;
}

[type="checkbox"].newReponse:checked+label::after {
    /* background: #000000; */
    top: 2px;
    left: 40px;
}

[type="checkbox"].newReponse:checked+label .Checked,
[type="checkbox"].newReponse:not(:checked)+label .Checked::before,
[type="checkbox"].newReponse:checked+label .Checked::after {
    position: absolute;
    left: 6px;
    width: 65px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
}

[type="checkbox"].newReponse:focus+label::before {
    border: 1px dashed #777;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: -1px;
}

/* Affichage du qcm crée */
.affQCM {
    height: 50vh;
    width: 40vw;
    background-color: wheat;
    overflow-y: scroll;
}

/* Affichage des énoncés dans le qcm */
.affQuestion {
    text-align: left;
    margin: 1em;
}

/* Affichage des réponses dans le qcm */
.affReponse {
    text-align: left;
    margin: 1em;
}

/* Affichage de checkbox pour répondre dans le qcm */
.bigCheckbox {
    height: 1.5em;
    width: 1.5em;
}

/* Div etiquette */
.affichageEtiquette {
    margin: 0;
}

/* Style de la liste */
.affichageEtiquette ul {
    list-style-type: none;
}

/* Style pour chaque etiquette */
.affichageEtiquette li {
    float: left;
    width: 33%;
}

fieldset {
    background-color: wheat;
    height: 5em;
    overflow-y: scroll;
    font-weight: bold;
}

/* Style de flash() (Flask) */
.flashes {
    color: red;
    font-weight: bold;
}

/* Style etiquette*/
.gereEtiquette {
    border: 0.5em solid black;
    border-radius: 10px;
    padding: 2em;
    width: 15vw;
    font-size: 0.7em;
    background-color: whitesmoke;
    text-align: center;
}

/* Style pour créer une étiquette */
.gaucheEtiquette {
    margin-right: 5em;
}

/* Style pour modifier une étiquette */
.centreEtiquette {
    margin-right: 2.5em;
    margin-left: 2.5em;
}

/* Style pour supprimer une étiquette */
.droiteEtiquette {
    margin-left: 5em;
}

.stats p{
    text-align: center;
    font-size: large;
    font-style: italic;
}

/* test

label {
    display: block;
    margin-top: 1em;
}

input:valid {
    background-color: palegreen;
}

input:invalid {
    background-color: lightpink;
} */

/* ------------------------------------------------------------------ */
/* Responsivité *//* Responsivité *//* Responsivité *//* Responsivité */
/* ------------------------------------------------------------------ */

/* Pour les écrans de longueur 1024px (petit) */
@media screen and (min-width: 801px) and (max-width: 1024px) {
    body{
        background-size:auto;
    }
    .nav-list li a {
        padding: 10px 12px;
    }
    .code {
        font-size: 0.9em;
        margin-right: 1em;
        overflow-y: scroll;
    }
    .visu {
        font-size: 0.9em;
        margin-left: 1em;
        overflow-y: scroll;
    }
    .liste{
        font-size: 0.8em;
        height:20vh;
        width: auto;
    }
    .liste td a{
        display: block;
    }
    table{
        width: 55vw;
    }
    .newEtudiant{
        font-size: 0.6em;
        height: 30vh;
    }
    .listeCaster{
        height: 30vh;
    }
    .menuLQcm{
        font-size: 0.7em;
        margin-right: 2em;
    }
    .menuNQcm{
        font-size: 0.7em;
        margin-left: 2em;
    }
}

/* Pour les écrans de longueur 1280px (petit-moyen) */
@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .menu{
        font-size: 0.9em;
    }
    .menuAcc {
        font-size: 1.3em;
    }
    .gereEtiquette {
        width: 20vw;
        font-size: 1em;
    }
    .centreEtiquette{
        margin-left: 0em;
        margin-right: 0em;
    }
    .code{
        height: 70vh;
    }
    .liste td a{
        display: block;
    }
    .liste{
        font-size: 1.2em;
        height:20vh;
        width: auto;
    }
    table{
        width: 45vw;
    }
    .newEtudiant{
        font-size: 0.9em;
        height: 40vh;
    }
    .menuLQcm{
        font-size: 0.8em;
        margin-right: 2em;
    }
    .menuNQcm{
        font-size: 0.8em;
        margin-left: 2em;
    }
}

/* Pour les écrans de longueur supérieur à 1280px (moyen) */
@media screen and (min-width: 1281px){
    .menu{
        font-size: 0.9em;
    }
    .liste{
        font-size: 1.2em;
        height:20vh;
        width: auto;
    }
    table{
        width: 45vw;
    }
    .newEtudiant{
        font-size: 0.9em;
        height: 40vh;
    }
}

/* Pour les écrans de longueur supérieur à 1440px (grand) */
@media screen and (min-width: 1440px){
    .menuAcc {
        font-size: 1.5em;
    }
    .gereEtiquette {
        width: 20vw;
        font-size: 1em;
    }
    .menuLQcm{
        margin-right: 2em;
    }
    .menuNQcm{
        margin-left: 2em;
    }
}

/* -------------------------------------------------------------------------- */
/* VERSION MOBILE *//* VERSION MOBILE *//* VERSION MOBILE *//* VERSION MOBILE */
/* -------------------------------------------------------------------------- */

@media screen and (min-width: 1px) and (max-width:800px) {
    .menu{
        font-size: 0.8em;
        width: 80vw;
        height: 66vh;
    }
    .menuAcc{
        width: 70vw;
        height:auto;
    }
    .menuAcc .button{
        display: unset;
    }
    .mid{
        font-size: 1em;
        width: 90vw;
        height: 75vh;
        display: grid;
        overflow-y: scroll;
    }
    .gereEtiquette{
        width: 70vw;
        font-size: 0.8em;
    }
    .gaucheEtiquette{
        margin-right: 0em;
    }
    .centreEtiquette {
        margin-right: 0em;
        margin-left: 0em;
    }
    .droiteEtiquette {
        margin-left: 0em;
    }
    .liste{
        font-size: 0.8em;
        width: 80vw;
    }
    .liste tr{
        display: flex;
        flex-direction: column;
        width: 75vw;
    }
    .liste .imgTab{
        width: 5vw;
        height: 5vw;
    }
    .listeQuestions{
        font-size: 0.8em;
        width: 80vw;
    }
    .listeQuestions table{
        width: 80vw;
    }
    .listeQuestions .imgTab{
        width: 5vw;
        height: 5vw;
    }
    .newEtudiant {
        border: 2px solid black;
        text-align: center;
        width: 80vw;
        font-size: 0.75em;
        display:grid;
        overflow-y:scroll;
    }
    .newEtudiant .button{
        display: unset;
    }
    .liVer{
        display: unset;
    }
    .nav-list{
        display:flex;
        overflow-x: scroll;
    }
    body{
        background-size:auto;
    }
    footer{
        font-size: 0.7em;
    }
    .mid{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.9;
    }
    .menu .double{
        font-size: 0.75em;
        height:20vh;
        display:grid;
        overflow-y:scroll;
    }
    .code{
        margin:0;
        height:50vh;
        width:70vw;
        font-size: 0.75em;
    }
    .code textarea{
        width:10em;
    }
    .code button{
        font-size:0.9em;
    }
    .code .delete{
        width:8vw;
        height:8vw;
    }
    .visu{
        margin:0;
        height:50vh;
        width:70vw;
        font-size:0.8em;
    }
    .menuLQcm{
        margin:0;
        height:50vh;
        width:70vw;
        font-size: 0.75em;
    }
    .menuLQcm .listeQCM{
        height: 40vh;
        width: 70vw;
        border: 2px solid black;
        overflow-y: scroll;
    }
    .menuLQcm .listeQCM table{
        width: 70vw;
    }
    .menuLQcm .listeQCM .imgTab{
        width: 5vw;
        height: 5vw;
    }
    .menuNQcm{
        margin:0;
        height:55vh;
        width:70vw;
        font-size: 0.75em;
    }
    .menuNQcm .liste{
        width:70vw
    }
    .menuNQcm .liste table{
        width: 65vw;
        font-size: 0.75em;
    }
    .menuNQcm .liste tr{
        display:table;
        /* flex-direction:initial; */
        width: 65vw;
    }
    .caster{
        border: 0.5em solid black;
        border-radius: 10px;
        padding: 2em;
        width: 65vw;
        height: 60vh;
        background-color: whitesmoke;
        text-align: center;
        margin-right: 5em;
    }
    .listeCaster{
        border: 1px solid black;
        width: 65vw;
        height: 30vh;
        overflow-y: scroll;
    }
    .listeCaster table{
        width: 65vw;
    }
}
/* ------------------------------------------------------------------------ */