<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style.css" rel="stylesheet"> {%include 'partials/Biblio.html'%}
    <title>Votre QCM</title>
</head>

<body>
    {%include 'partials/_nav.html'%}
    <div class="menu">
        <h1>Votre QCM</h1>
        <hr/>
        <div class="affQCM">
            {% for question in listequestion %}     <!-- Pour chaque question dans la liste de questions -->
            <div id="{{question.idQ}}">{{question.enonce}}</div>
                <script>                                     /* Convertisseur markdown */
                    $('#{{question.idQ}}').html(converter.makeHtml($('#{{question.idQ}}').text()));
                </script>
                {% for reponse in listereponse %}  <!-- Chaque reponse dans la liste de reponses de la question -->
                <div id="{{reponse.idR}}">{{reponse.reponse}}</div>
                <script>                                     /* Convertisseur markdown */
                    $('#{{reponse.idR}}').html(converter.makeHtml($('#{{reponse.idR}}').text()));
                </script>
                {% endfor %}
                <hr/>
                <!-- <script> document.write(converter.makeHtml('---'))</script> -->
            {% endfor %} 
        </div>
    </div>
    {%include 'partials/footer.html'%}
</body>

</html>