<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style.css" rel="stylesheet"> {%include 'partials/Biblio.html'%}
    <title>Votre Examen</title>
</head>

<body>
    {%include 'partials/_nav.html'%}
    <div class="menu">
        <h1>Votre QCM</h1>
        <hr/>
        <div class="affQCM">
            {% for i in range(len) %}
            <div id="{{listequestion[i].idQ}}">{{listequestion[i].enonce}}</div>
            <script>
                console.log(listequestion[i].enonce)
                $('#{{listequestion[i].idQ}}').html(converter.makeHtml($('#{{listequestion[i].idQ}}').text()));
            </script>
            {% for reponse in listereponse[i] %}
            <div id="{{reponse.idR}}">{{reponse.reponse}}</div>
            <script>
                $('#{{reponse.idR}}').html(converter.makeHtml($('#{{reponse.idR}}').text()));
            </script>
            {% endfor %}
            <hr/>
            <!-- on a découvert plus tard qu'on pouvait faire une ligne avec la balise <hr/> -->
            <!-- <script> document.write(converter.makeHtml('---'))</script> -->
            {% endfor %}
        </div>
    </div>
    {%include 'partials/footer.html'%}
</body>

</html>