<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/x-icon" href="/static/icone.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style.css" rel="stylesheet">
    {%include 'partials/Biblio.html'%}
    <title>Ajout</title>
</head>

<body>
    {%include 'partials/_nav.html'%}
    <div class="mid double">
        <div class="code">
            <form action="/ajout" method="POST">
                <h1>Ecrivez une question</h1>
                <p>Question : <br/><textarea id="question" name="question" rows="4" cols="40" onkeyup="visualiserQ()"></textarea></p>
                <hr/>
                
                <div class="nouveauBouton">
                    <script>
                        function demandePlusReponse() { // Fonction JavaScript pour envoyer une requête GET à la route /plusDeReponse
                            // Utilisation de l'API Fetch pour envoyer une requête GET à /plusDeReponse
                            fetch('/plusDeReponse')
                                .then(response => response.text())
                                .then(data => {
                                    // Ajout du texte de la réponse à un élément ayant la classe 'nouveauBouton'
                                    $(".nouveauBouton").append(data);
                                });
                        }

                        function supprimerBouton(id) {
                            for (let i = 0; i < 3; i++) {
                                // Envoi d'une requête DELETE à la route '/supprimer_bouton' avec un objet JSON contenant l'id en paramètre
                                fetch('/supprimer_bouton', {
                                    method: 'DELETE',
                                    body: JSON.stringify({
                                        'id': id
                                    }),
                                    headers: {
                                        'Content-Type': 'application/json'
                                    }
                                });
                                // Suppression de l'élément HTML ayant pour id l'id passé en paramètre
                                $("#" + id).remove();
                            }
                        }

                        function visualiserQ() {
                            // Déclaration de la variable textQuestion qui contient le résultat 
                            // de la conversion de la valeur de l'élément avec l'id 'question' en HTML
                            let textQuestion = converter.makeHtml($("#question").val());
                            // Utilisation de jQuery pour remplacer le contenu HTML de l'élément ayant 
                            // la classe 'visu' avec la valeur de textQuestion
                            $(".visu").html(textQuestion);
                            MathJax.typeset()
                        }
                    </script>
                    {% for etiquette in etiquettes %}
                        <input type="checkbox" name="{{ etiquette.nom }}" value="{{ etiquette.idE }}"> {{ etiquette.nom }}<br>
                    {% endfor %}
                </div>
                <p><button type="button" onclick="demandePlusReponse()">Ajouter une réponse</button></p>
                <p><input class="button" type="submit" value="Ajouter la question" /></p>
            </form>
        </div>
        <div class="visu">
            Cliquez sur visualiser pour voir la visualisation de votre visuel
        </div>
    </div>
    {%include 'partials/footer.html'%}
</body>