<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/x-icon" href="/static/icone.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style.css" rel="stylesheet">
    {%include 'partials/Biblio.html'%}
    <title>Creation</title>
</head>
<body>
    <form action="/creationEtiquettes" method="POST">
        <input type="text" name="nom" placeholder="Nom de l'étiquette"><br>
        <input class = "button" type="submit" value="Crée l'étiquette"><br>
    </form>
    <form action="/suppEtiquettes" method="POST">
        <input type="text" name="nom" placeholder="Nom de l'étiquette"><br>
        <input class = "button" type="submit" value="suppression de l'étiquette"><br>
    </form>
</body>
</html>