<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style.css" rel="stylesheet">
    <title>Bienvenue</title>
</head>
<body>
    <main>
        <div class="menu">
            <h1>Super Magasin de Théo</h1>
            <a class="button" name="ajout" href="/ajout">Ajout d'un article</a>
            <a class="button" name="stock" href="/stock">Etat des stocks</a>
        </div>
    </main>
    <footer>
        <p>&copy; 2022 THEO REYNIER </p>
    </footer>
</body>
</html>