<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/x-icon" href="/static/icone.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style.css" rel="stylesheet">
    {%include 'partials/Biblio.html'%}
    <title>Bibliothèque</title>
</head>

<body>
    {%include 'partials/_nav.html'%}
    <div class="menu">
        <h1>Liste des questions</h1>
        <div class="listeQ">
            <table>
                <tr class="top">
                    <td>Question</td>
                    <td>Tag</td>
                    <td>Modifier/Supprimer</td>
                </tr>
                {% for questions in lquestion %}
                <tr>
                    <td class="left" id="{{questions.idQ}}">{{questions.enonce}}</td>
                    <script>
                        $('#{{questions.idQ}}').html(converter.makeHtml($('#{{questions.idQ}}').text()));
                        hljs.highlightAll();
                    </script>
                    <td>                    
                        {% for t in tag %}
                            {{t}}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ url_for('modifier', id=questions.idQ)}}">Modifier</a>
                        <br>
                        <a href="{{ url_for('supprimer', id=questions.idQ)}}">Supprimer</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <!-- <a class="button" name="ajout" href="/ajout">Ajout d'une autre question</a>
        <a class="button" name="menu" href="/">Retour au menu</a> -->
    </div>
    {%include 'partials/footer.html'%}
</body>