<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/x-icon" href="/static/icone.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script>
        MathJax = {
            tex: {
                inlineMath: [['$','$']]
            }
        }
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js"></script>
    <script>
        var converter = new showdown.Converter();
    </script>
    
    <title>Bibliothèque</title>
</head>

<body>
    {%include 'partials/_nav.html'%}
    <div class="menu">
        <h1>Liste des questions</h1>
        <div class="listeQ">
            <table>
                <tr class="top">
                    <td>Question</td>
                    <!-- <td>Réponse</td> -->
                    <td>Modifier/Supprimer</td>
                </tr>
                {% for questions in lquestion %}
                <tr>
                    <td id="{{questions.idQ}}">{{questions.enonce}}</td>
                    <script>
                        $('#{{questions.idQ}}').html(converter.makeHtml($('#{{questions.idQ}}').text()));
                    </script>
                    <td>
                        <a href="{{ url_for('modifier', id=questions.idQ)}}">Modifier</a>
                        <br>
                        <a href="{{ url_for('supprimer', id=questions.idQ)}}">Supprimer</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <!-- <a class="button" name="ajout" href="/ajout">Ajout d'une autre question</a>
        <a class="button" name="menu" href="/">Retour au menu</a> -->
    </div>
    {%include 'partials/footer.html'%}
</body>