{% extends 'partials/base.html' %}

{% block main %}
<div class="menu">
    <form action="/generateQCM" method="POST">
        <!--ce form permet d'afficher la liste des question -->
        <h1>Modifier votre examen</h1>
        <p>Donnez un titre à votre QCM : <input type="text" name="nomQcm" placeholder="Titre" value={{QCMmodif.Nom}}/></p>
        <div class="liste">
            <table>
                <tr class="top">
                    <td>Sélectionner</td>
                    <td>Questions</td>
                </tr>
                {% for q in ListesQuestions %}
                    <tr>
                        <label>
                            <td><input type="checkbox" name="{{q.idQuestion}}" value="{{q.idQuestion}}"
                            {% if q in questions %} checked {% endif %}></td>
                            <td>{{q.enonce}}</td>
                        </label>
                        <script>
                            $('#{{q.idQ}}').html(converter.makeHtml($('#{{q.idQ}}').text()));
                        </script>
                    </tr>
                {% endfor %}  
            </table>
        </div>
        <p><input class="button" type="submit" value="Confirmer" /></p>
    </form>
</div>
{% endblock %}