<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/x-icon" href="/static/icone.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style.css" rel="stylesheet">
    {%include 'partials/Biblio.html'%}
    <title>Ajout</title>
</head>

<body>
    {%include 'partials/_nav.html'%}
    <div class="menu">
        <!-- <form action="/visual" method="POST"> -->
        <form action="{{ url_for('modifier', id=idQ)}}" method="POST">
            <h1>Modifier votre enoncé</h1>
            <p><textarea name="question" rows="4" cols="40">{{enonce}}</textarea></p>
            <p><input class="button" type="submit" value="Modifier" /></p>
        </form>
        <!-- <a class="button" name="menu" href="/">Retour au menu</a><br/> -->
    </div>
    {%include 'partials/footer.html'%}
</body>