{% extends 'partials/base.html' %}

{% block main %}
<div class="menu">
    <form action="/generate" method="POST">
        <!--ce form permet d'afficher la liste des question -->
        <h1>Créer votre examen</h1>
        <p>Donnez un titre à votre QCM : <input type="text" name="nomQcm" placeholder="Titre" /></p>
        <div class="liste">
            <table>
                <tr class="top">
                    <td>Sélectionner</td>
                    <td>Questions</td>
                </tr>
                {%for element in ListesQuestions%}
                <tr>
                    <td><input type="checkbox" name="{{element.idQ}}"></td>
                    <td class="left" id="{{element.idQ}}">{{element.enonce}}</td>
                    <script>                                                /* converti chaque énoncé */
                        $('#{{element.idQ}}').html(converter.makeHtml($('#{{element.idQ}}').text()));
                    </script>
                </tr>
                {%endfor%}
            </table>
        </div>
        <p><input class="button" type="submit" value="Confirmer" /></p>
    </form>
</div>
{% endblock %}