{%include 'partials/_nav.html'%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style.css" rel="stylesheet">

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script>
        MathJax = {
            tex: {
                inlineMath: [['$','$']]
            }
        }
    </script>

    <title>Visualisation de la question</title>
</head>
<body>
    <div class="menu">
        <p>Question :</p>
        <p>{{question}}</p>
        
        <p><input type="button" value="Retour"/></p>
    </div>
</body>
</html>